flask~=1.1.2
python-dotenv~=0.15.0
flask-restful
flask_sqlalchemy
flask_marshmallow
sqlalchemy-filters
Faker~=8.13.2

pip~=21.2.4
wheel~=0.34.2
cryptography~=2.8
keyring~=18.0.1
pytz~=2019.3
python-dateutil~=2.7.3
MarkupSafe~=2.0.1
Werkzeug~=1.0.1
Jinja2~=2.11.3
click~=8.0.1
blinker~=1.4
itsdangerous~=1.1.0
six~=1.14.0
greenlet~=1.1.1
aniso8601~=9.0.1
setuptools~=45.2.0
future~=0.18.2
SQLAlchemy~=1.4.23
marshmallow~=3.13.0
colorama~=0.4.3